@import url("style.css");

:root {
    --color: #fff;
}

main {
    background-color: var(--primary-color);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

main h1 {
    font-size: 28pt;
    text-transform: uppercase;
}

main img {
    width: 48px;
    filter: brightness(5);
    margin: 0 0.5rem;
}